@model DCC_TrashCollector.Models.CustomerSchedule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CustomerSchedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Day.DayChoosen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day.DayChoosen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pickedup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pickedup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtraPickUpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtraPickUpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TempStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TempEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempEndDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerScheduleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
