@model IEnumerable<DCC_TrashCollector.Models.CustomerSchedule>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Day.DayChoosen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pickedup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtraPickUpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempEndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Day.DayChoosen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pickedup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExtraPickUpDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TempStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TempEndDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomerScheduleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustomerScheduleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomerScheduleId })
        </td>
    </tr>
}

</table>
