@model DCC_TrashCollector.Models.Customer

@{
    ViewBag.Title = "PortalConfirm";
}

<h2>Portal Confirm</h2>
<hr />

<h3>Confirm Customer Pickup:</h3>
@using (Html.BeginForm("SubmitPortalConfirm", "Employees", FormMethod.Post))
{

    @Html.ActionLink("Back", "Portal", "Employees", new { area = "" }, new { @class = "btn btn-danger" })

    @Html.Hidden("confirmHiddenCustId", Model.CustomerId);

    <button class="btn btn-success" name="confirmSubmitBtn" type="submit">Confirm Pickup</button>
}

<br />

<div>
    <h4>Customer Information: </h4>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.City.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day.DayChoosen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day.DayChoosen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode.Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        @if (User.IsInRole("Employee"))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Pickedup)
            </dt>


            <dd>
                @Html.DisplayFor(model => model.Pickedup)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.ExtraPickUpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtraPickUpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TempStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TempEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempEndDate)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.AddressLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressLine)
        </dd>

    </dl>
</div>

